build/
.DS_Store
.vscode
*.conf
*.wheel
*.txt
*.log
*.py
*.sh
*.rule
*.png
*combined*
!CMakeLists.txt
!rule/*.rule
!enum_send.sh
!enum_wheel.sh
!discharge.sh
!cartwheel2conf.py
!cartwheel2conf.sh
!tile.sh
!charge_result.sh
!torus/send/*.rule
!torus/wheel/*.wheel
!torus/log/7_0_t-1.wheel.log